@import "settings", "foundation";

/*
 * Defaults
 */

$height: 768px;

$font-stack: Helvetica, sans-serif;

$nav-height: 50px;

// TODO: make this better
// gets converted into padding to support background. 
$nav-margin: 56px;

$nav-background: rgba(100, 100, 100, 0);
$item-hover-color: lighten($nav-background, 10%);
$nav-font-color: white;
$nav-font-size: 16px;

body {
    background: transparent url("../img/Paper Back Page 1.png") top center no-repeat;
}

@mixin disable_background_events() {
    pointer-events: none;
    
    * {
        pointer-events: auto;
    }
}

@mixin responsive_row_additions() {

    // default: 641px
    width: lower_bound($small-range);
    
    // 1000px
    @media #{$large-up} {
        width: lower_bound($large-range);
    }
    
    @media #{$xlarge-up} {
        width: lower_bound($xlarge-range);
    }
}

@mixin before-or-after() {
    @include disable-background-events();
    @include responsive_row_additions();
    
    // to center background accordingly
    $before-after-background-width: 1024px;
    
    content: "";
    
    position: absolute;
    
    top: 0;
    left: 50%;
    margin-left: -50%;
    
    height: 100%;
    width: 100%;
    
    background-repeat: no-repeat; 
}

.bar {
    @include grid_row($behavior: nest-collapse);
    @include responsive_row_additions();
    
    height: $nav-height;

    $item-count: 5;
    $column-width: 1.5;
    $left-gutter: 1.5;

    .right-items > a {
        @include grid-column($column-width, $float: left, $collapse: true);
        
        height: $nav-height;
        padding: rem-calc($nav-height - $nav-font-size) / 2 0;
        
        color: white;
        font: rem-calc($nav-font-size) $font-stack;
        letter-spacing: rem-calc(3);
        text-transform: uppercase;
        text-align: center;
        font-weight: 100;
        
        &:hover {
            color: red;
        }
    }
    
    .social {
        @include grid_column(12 - ($item-count * $column-width), $last_column: true);
        
        $icon-size: 40px;
        
        text-align: left;
        padding: ($nav-height - $icon-size) / 2 0;
        margin: 50px -15px;
        
        @media #{$xlarge-up} {
            @include grid_column(12 - ($item-count * $column-width) - $left-gutter);
            text-align: center;
            margin: 0;
        }
        
        img {
            width: $icon-size;
            height: $icon-size;
            
            margin: 0 5px;
        }
    }

    .nav {
        @include grid-column(12, $last_column: true, $collapse: true);
        
        width: 100%;
        background-color: $nav-background;
    }
}

.head, .content {
    @include responsive_row_additions();
    padding-top: $nav-margin;
    margin: 0 auto;
}
    
//    &::after {
//        @include before-or-after();
//
//        background-image: url("../img/rough-beige-paper-texture.png");
//        z-index: -1;
//    }

.container {
    @include responsive_row_additions();
    
    .content {
        @include grid-column(12);
    }
    
//    @include before-or-after();
//
//    .bar {
//        @include disable-background-events();
//    }
//
//    z-index: 2;
//
//    .content {
//        @include grid-row();
//    }
    
}

.right-side {
    @include grid-row();
    
    margin-top: 50px;
    text-align: right;
    
    .order {
        @include grid-column(
            // Control the number of columns
            $columns:6,
            // Specify whether or not this is the last column in the row
            $last-column:true,
            // Choose whether or not to center this column
            $center:true,
            // Choose the number of columns to offset this element by
            $offset:6
        );
    
        .fonts {
            font: rem-calc(16px) $font-stack;
            font-weight: 5;
            text-transform: uppercase;
            letter-spacing: 4px;
        }
        
        a {
            @extend .fonts;
            color: black;
        }
        
        h2 {
            @extend .fonts;
            color: white;
        }
    }
}

// Or selectively include components
// @import
//   "foundation/components/xyz",
//   "foundation/components/abc"
